name: pose_tester
description: "A small app for testing pose logic on device"
publish_to: "none"
version: 1.0.0

environment:
  sdk: ">=3.4.3 <4.0.0"
dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  integration_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.1
  build_runner: ^2.4.11

flutter:
  uses-material-design: true
  assets: []